<!DOCTYPE html>
<html>
<head>
  <title>NewsReader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8" /> <!-- added in -->
</head>
<body>

<div class="container header-content" id="banner">
	<div class="row header-content-row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 class="text-center">See what's happening right now.</h1>
			<h3 class="text-center">Find out about current events, politics, and technology trends.</h3>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<%= render 'shared/header' %>

<%= yield %>

<%= render 'shared/footer' %>

<script>
	// generic javascript code to dock navbar after scrolling past banner div
	$(document).ready(function() {
	    $('.navbar').scrollToFixed();
	});
</script>
</body>
</html>
